.button {
  background-color: transparent;
  white-space: nowrap;
  color: white;
  border: 2px solid #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  padding: 7px 13px; }
  .button:focus {
    outline: none;
    background-color: #ffffff;
    color: #037693; }

.buttons-container {
  display: flex;
  justify-content: center; }
  .buttons-container__create-button {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px; }

.subtitle {
  color: #ffffff;
  font-size: 38.5px;
  font-weight: 200; }

.description {
  line-height: 25px;
  font-size: 20px; }

.interaction {
  background-image: url("../img/interaction-background.png");
  display: flex;
  padding-top: 280px;
  padding-left: 215px;
  padding-right: 220px;
  justify-content: space-between;
  align-items: flex-start; }
  .interaction__title {
    text-shadow: 0 5px 5px black; }
  .interaction__image {
    height: 690px;
    width: 420px; }
  .interaction__subtitle {
    margin-top: 43px;
    margin-left: 85px; }
  .interaction__buttons-container {
    margin-left: 13px;
    margin-top: 151px; }
  .interaction__content {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.title {
  color: #ffffff;
  font-size: 65.5px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .title_big-lines::after {
    position: relative;
    top: -16px;
    font-size: 0;
    content: url("../img/lines.png");
    display: block;
    align-self: flex-end;
    height: 7px; }
  .title_small-lines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .title_small-lines::after {
      margin-top: 10px;
      align-self: flex-end;
      content: "";
      width: 80px;
      height: 5px;
      border-radius: 2px;
      background-color: #037693;
      order: 1; }
    .title_small-lines::before {
      align-self: flex-end;
      content: "";
      position: relative;
      top: -5px;
      left: -95px;
      width: 10px;
      height: 5px;
      border-radius: 2px;
      background-color: #037693;
      order: 2; }
  .title_header {
    color: #037693;
    font-size: 65.5px; }

.about-us__logo-container {
  width: 20%; }

.about-us__logo {
  margin-left: 25px;
  margin-top: 132px;
  width: 330px;
  height: 65px;
  min-width: auto;
  min-width: fit-content;
  box-sizing: border-box; }

.about-us__title-logo-container {
  display: flex; }

.about-us__title-container {
  width: 60%; }

.about-us__header-title {
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  text-align: center;
  letter-spacing: 4.5px;
  font-weight: 100;
  padding-left: 40px;
  margin: 115px auto auto;
  align-self: center; }

.about-us__title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: start;
  color: #037693; }

.about-us__subtitle {
  margin: 0 0 34px;
  font-size: 34px;
  letter-spacing: 1.4px;
  line-height: 33px;
  color: #037693; }

.about-us__description {
  margin: 0 0 28px; }

.about-us__content {
  padding-left: 310px;
  padding-right: 100px;
  display: flex; }

.about-us__text-container {
  display: flex;
  flex-direction: column;
  width: 48.5%; }

.about-us__stats {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25px;
  width: 45%;
  margin-top: -7px;
  height: 305px; }

.logo {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: 1px solid #037693;
  border-right: none;
  align-items: center;
  letter-spacing: 3.5px;
  padding-right: 20px;
  padding-left: 20px;
  color: #037693;
  font-weight: 100; }
  .logo::before {
    content: "";
    height: 2px;
    background-color: #037693;
    order: 1;
    flex-grow: 1; }
  .logo::after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #037693;
    order: 2; }

.circle {
  border-bottom: 2px solid;
  border-color: inherit;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100%; }
  .circle__title {
    color: inherit;
    margin: 25px auto 0;
    font-size: 53px;
    order: 2; }
  .circle__text {
    color: #000;
    margin-top: 15px;
    white-space: nowrap;
    text-align: center;
    font-size: 25px;
    order: 1; }
  .circle::before {
    color: inherit;
    margin: 0 auto;
    content: "";
    position: relative;
    top: 62.5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.5;
    order: 4; }
  .circle::after {
    color: inherit;
    margin: 0 auto;
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: currentColor;
    order: 3; }
  .circle_green {
    color: #4ca59a;
    background-color: #4ca59a00; }
  .circle_red {
    color: #f26250;
    background-color: #f2625000; }
  .circle_orange {
    color: #f0a765;
    background-color: #f0a76500; }

* {
  font-family: 'Lato', sans-serif; }
