.about-us{

  &__logo-container{
    width: 20%;
  }

  &__logo{
    margin-left: 25px;
    margin-top: 132px;
    width: 330px;
    height: 65px;
    min-width: auto;
    min-width: fit-content;
    box-sizing: border-box;
  }

  &__title-container{
    display: flex;
  }

  &__header-title{
    width: 60%;
    text-align: center;
    letter-spacing: 4.5px;
    font-weight: 100;
    padding-left: 15px;
    margin-top: 70px;
    align-self: center;
  }

  &__title{
    text-align: start;
    color: #037693;
  }

  &__description{
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #037693;
  }

  &__content{
    padding-left: 310px;
    padding-right: 100px;
    display: flex;
  }

  &__text-container{
    display: flex;
    flex-direction: column;
  }
}