@import "variables.scss";

.nav {
    display: flex;

    width: 100%;
    padding-right: 200px;
    padding-left: 200px;

    background-color: $dark-main-color;

    &__icon {
        height: 132px;
        margin: 15px 70px;
    }

    &__list {
        display: flex;

        height: 100%;
        margin: 0 0 0 50px;
        padding: 0;
    }

    &__log-reg {
        display: flex;

        width: 200px;
        margin: 0 0 0 40px;
        padding: 0;

        justify-content: space-between;
    }

    &__list-container {
        display: flex;

        justify-content: space-evenly;
    }
}