.title{
  color: #ffffff;
  font-size: 65.5px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &::after{
    position: relative;
    top: -16px;
    font-size: 0;
    content: url("../img/lines.png");
    display: block;
    align-self: flex-end;
    height: 7px;
  }

  &_header{
    width: 100%;
    text-align: center;
    color: #037693;
    font-size: 65.5px;
  }
}