@import "variables.scss";

.title {
    display: flex;
    flex-direction: column;

    padding: 0;

    text-align: center;

    color: $bright-main-color;

    font-size: 65.5px;
    line-height: 70px;

    justify-content: flex-end;

    &_big-lines {
        &::after {
            position: relative;
            top: -16px;

            display: block;

            height: 7px;

            content: url("../img/lines.png");

            font-size: 0;

            align-self: flex-end;
        }
    }

    &_small-lines {
        display: flex;

        flex-wrap: wrap;
        justify-content: center;

        &::after {
            width: 80px;
            height: 5px;
            margin-top: 10px;

            content: "";

            border-radius: 2px;
            background-color: $primary-color;

            align-self: flex-end;
            order: 1;
        }

        &::before {
            position: relative;
            top: -5px;
            left: -95px;

            width: 10px;
            height: 5px;

            content: "";

            border-radius: 2px;
            background-color: $primary-color;

            align-self: flex-end;
            order: 2;
        }
    }

    &_header {
        color: $primary-color;

        font-size: 65.5px;
    }
}