$primary-color: #037693;
$dark-main-color: #121111;
$dark-secondary-color: #000000;
$bright-main-color: #ffffff;
$bright-transparent-color: #ffffff70;
$audience-color: #4ca59a;
$hours-color: #f26250;
$event-color: #f0a765;