@import "mixins.scss";

.about-us{
  &__wrapper{
    width: 80%;
    margin: auto 5% 100px 15%;
  }

  &__title-container{
    margin: 70px 55% 70px 35%;
  }

  &__text-container{
    width: 48%;
  }

  &__circles{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
    margin-left: 20px;
  }

  &__content-container{
    display: flex;
    //justify-content: space-evenly;
  }

  &__circle-container{
    margin: 0 20px;
  }
}
