@import "mixins.scss";

.audience-interaction-other-buttons{
  display: flex;

  &__type-code-button{
    @include mediaScreenMaxWidth(700px){
      font-size: 0.9em;
    }

    font-size: 1.1em;
  }
}