@import "mixins.scss";

.audience-interaction-lines{
  &__first-line{
    @include mediaScreenMaxWidth(700px){
      height: 5px;
    }

    height: 10px;
    border-radius: 10px;
    width: .48em;
    margin-right: 1.12em;
  }

  &__second-line{
    @include mediaScreenMaxWidth(700px){
      height: 5px;
    }

    height: 10px;
    border-radius: 10px;
    width: .96em;
    margin: 0;
  }

  &__third-line{
    @include mediaScreenMaxWidth(700px){
      height: 5px;
    }

    height: 10px;
    border-radius: 10px;
    width: 13.52em;
    margin-left: .56em;
  }
}