.audience-interaction {
  width: 100%;
  background-image: url("img/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .audience-interaction__wrapper {
    height: 58rem;
    width: 100%;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 720px) {
      .audience-interaction__wrapper {
        height: 25rem; } }
  .audience-interaction__content-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
    align-content: center; }
    @media only screen and (max-width: 720px) {
      .audience-interaction__content-wrapper {
        top: 25%;
        margin: auto 5%; } }
  .audience-interaction__image-container {
    margin-top: 2.3rem;
    width: 32%; }
    @media only screen and (max-width: 720px) {
      .audience-interaction__image-container {
        display: none; } }
  .audience-interaction__image {
    width: 100%;
    max-width: 26.94rem;
    max-height: 54.9rem; }
  .audience-interaction__text {
    width: 62%; }
    @media only screen and (max-width: 720px) {
      .audience-interaction__text {
        width: 100%; } }
  .audience-interaction__titles-container {
    width: 100%; }
  .audience-interaction__titles-lines-container {
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .audience-interaction__title {
    color: white;
    font-size: 3.32rem;
    margin-bottom: 0;
    text-align: center; }
    @media only screen and (max-width: 720px) {
      .audience-interaction__title {
        font-size: 2.3rem; } }
  .audience-interaction__subtitle {
    color: white;
    font-size: 1.84rem;
    margin-top: 50px;
    text-align: center; }
    @media only screen and (max-width: 720px) {
      .audience-interaction__subtitle {
        margin-top: 20px;
        font-size: 1.4rem; } }
  .audience-interaction__lines {
    display: flex;
    justify-content: flex-end; }
  .audience-interaction__buttons {
    margin-top: 13rem; }
    @media only screen and (max-width: 720px) {
      .audience-interaction__buttons {
        margin-top: 50px; } }

.audience-interaction-lines__first-line {
  height: 10px;
  border-radius: 10px;
  width: .48rem;
  margin-right: 1.12rem; }

.audience-interaction-lines__second-line {
  height: 10px;
  border-radius: 10px;
  width: .96rem;
  margin: 0; }

.audience-interaction-lines__third-line {
  height: 10px;
  border-radius: 10px;
  width: 13.52rem;
  margin-left: .56rem; }

.audience-interaction-other-buttons {
  display: flex; }
  .audience-interaction-other-buttons__type-code-button {
    font-size: 1.12rem; }

.audience-interaction-buttons {
  display: flex;
  justify-content: center; }
  .audience-interaction-buttons__create-event-button {
    margin-right: 7%; }

.audience-interaction-button {
  white-space: nowrap;
  color: white;
  font-size: 1.32rem;
  font-weight: 400;
  padding-top: 0.52rem;
  padding-bottom: 0.52rem; }
  @media only screen and (max-width: 720px) {
    .audience-interaction-button {
      padding: 1rem; } }
  .audience-interaction-button:focus {
    border: 2px solid #ffffff; }
