@import "mixins.scss";

.event{
  &__wrapper{
    //height: 516.8px;
    //max-width: 25vw;
    background-color: #ffffff;
    margin: auto 3px;
    min-width: 25vw;
  }

  &__title-container{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    //font-size: 1vw;
  }

  &__content-container{
    margin: 7% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
  }

  &__title-first{
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    //font-family: "Lato Light";
  }

  &__title-second{
    text-align: center;
    color: #ffffff;
    font-size: 3.56rem;
    margin: 0;
    text-transform: uppercase;
    //font-family: "Lato - Bold";
    font-weight: 700;
  }

  &__text{
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
    //font-family: Lato;
    font-weight: 300;
    line-height: 33.33px;
    letter-spacing: .27px;
  }

  &__icon{
    object-fit: contain;
    height: 3.5rem;
  }

  &__button{
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    border-style: none;
    padding: .2em 1em;
    margin: 20px auto;
    border-radius: 100px;
    color: #ffffff;
    font-size: 1.5rem;
  }

  &__wrapper:hover{
    box-shadow: 0 0 30px grey;
    transform: scale(1.2);
    z-index: 1;
  }
}