.events {
  background-color: #e8e8e8; }
  .events__wrapper {
    width: 85%;
    margin: auto;
    padding-top: 64px; }
  .events__title {
    margin: auto; }
  .events__container {
    padding: 100px;
    display: flex;
    justify-content: center; }

.event__wrapper {
  background-color: #ffffff;
  margin: auto 3px;
  min-width: 25vw; }

.event__title-container {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px; }

.event__content-container {
  margin: 7% auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%; }

.event__title-first {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase; }

.event__title-second {
  text-align: center;
  color: #ffffff;
  font-size: 3.56rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700; }

.event__text {
  font-size: 1rem;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 300;
  line-height: 33.33px;
  letter-spacing: .27px; }

.event__icon {
  object-fit: contain;
  height: 3.5rem; }

.event__button {
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  border-style: none;
  padding: .2em 1em;
  margin: 20px auto;
  border-radius: 100px;
  color: #ffffff;
  font-size: 1.5rem; }

.event__wrapper:hover {
  box-shadow: 0 0 30px grey;
  transform: scale(1.2);
  z-index: 1; }

.external-event .event__title-container {
  background-image: url("img/external-event.png"); }

.interactive-event .event__title-container {
  background-image: url("img/interactive-event.png"); }

.internal-event .event__title-container {
  background-image: url("img/internal-event.png"); }
