.events{
  background-color: #e8e8e8;

  &__wrapper{
    width: 85%;
    margin: auto;
    padding-top: 64px;
  }

  &__title{
    margin: auto;
  }

  &__container{
    padding: 100px;
    display: flex;
    justify-content: center;
  }
}
