@import "mixins.scss";

.nav{
  width: 100%;

  &__icon{
    height: 100%;
  }

  &__wrapper{
    height: 166.4px;
  }

  &__bg{
    position: absolute;
    height: 166.4px;
    width: 100%;
    z-index: -1;
  }

  &__icon-menu-wrapper{
    height: 100%;
    display: flex;
  }

  &__content-wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto 5% auto 10%;
  }

  &__icon-container{
    min-width: 15%;
    margin: 18px 0 12px;
  }

  &__list{
    height: 100%;
    align-content: center;
    min-width: 60%;
    display: flex;
    margin: 0;
    padding: 0 0 0 5%;
  }

  &__log-reg{
    min-width: 15%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__list-container{
    //height: 166.4px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__toggle-label{
    margin: auto;
    display: none;
  }

  &__toggle{
    display: none;
  }

  @include mediaScreenMaxWidth(720px){
    &__wrapper{
      height: auto;
      height: fit-content;
    }

    &__content-wrapper{
      height: auto;
      height: fit-content;
      min-height: 166.4px;
      width: 100%;
      margin: auto;
      flex-direction: column;
    }

    &__icon-menu-wrapper{
      height: 166.4px;
      margin-right: 20px;
      margin-left: 20px;
    }

    &__list-container{
      background-color: #121111;
      display: none;
    }

    &__toggle-label{
      display: block;
      margin: auto 0;
    }

    &__menu-button{
      width: 60px;
      height: 60px;
    }

    &__icon-container{
      margin: auto;
      height: 100px;
      display: flex;
      justify-content: center;
    }

    &__empty-div{
      display: block;
      width: 60px;
      height: 60px;
    }

    &__list{
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }
}