.item-icon {
  height: 92px;
  width: 92px; }
  @media only screen and (max-width: 720px) {
    .item-icon {
      width: 60px;
      height: 60px; } }

.how-it-works__item {
  margin: auto; }
  @media only screen and (max-width: 720px) {
    .how-it-works__item {
      width: 300px;
      margin-bottom: 50px; } }

.how-it-works__item .how-it-works-item__button:focus {
  background-color: #037693; }

.how-it-works__item .how-it-works-item__button:focus .item-icon {
  filter: invert(100%) sepia(0%) saturate(100%) brightness(10000%) contrast(100%); }

.how-it-works__items-container {
  display: flex;
  justify-content: space-between;
  margin: 123px 10% 0; }
  @media only screen and (max-width: 720px) {
    .how-it-works__items-container {
      flex-direction: initial;
      flex-wrap: wrap;
      margin: 50px 0; } }

.how-it-works-item__button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto; }

.how-it-works-item__button {
  height: 162px;
  width: 162px;
  border: 2px solid #037693;
  margin-bottom: 74px; }
  @media only screen and (max-width: 720px) {
    .how-it-works-item__button {
      height: 120px;
      width: 120px;
      border: 2px solid #037693;
      margin-bottom: 42px; } }

.how-it-works-item__text {
  margin: 0 auto auto;
  text-align: center;
  font-size: 1.44rem;
  min-height: 2.76rem;
  max-width: 90%;
  color: #037693; }
