@import "mixins.scss";

.interaction{
  background-color: #037693;
  background-size: cover;

  &__wrapper{
    @include mediaScreenMaxWidth(720px){
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
    }

    width: 85%;
    margin: 0 auto 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__text-container{
    @include mediaScreenMaxWidth(720px){
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    width: 60%;
  }

  &__title{
    @include mediaScreenMaxWidth(720px){
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
    }

    color: #ffffff;
    width: 60%;
    min-width: 18.8rem;
    //font-family: Lato;
    font-size: 2.988rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__subtitle{
    @include mediaScreenMaxWidth(720px){
      margin: 15px auto 10px;
      font-size: 1rem;
    }

    display: inline-block;
    color: #ffffff;
    //font-family: Lato;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__text{
    @include mediaScreenMaxWidth(720px){
      display: inline;
      text-align: center;
      line-height: initial;
      letter-spacing: initial;
      margin: 30px auto;
    }

    color: #ffffff;
    //font-family: Lato;
    font-size: .85rem;
    letter-spacing: .25px;
    font-weight: 300;
    line-height: 33.33px;
  }

  &__inner-text-span{
    @include mediaScreenMaxWidth(720px){
      display: initial;
      margin-bottom: 0;
    }

    display: block;
    margin-bottom: 12px;
  }

  &__images{
    @include mediaScreenMaxWidth(720px){
      margin: 50px 0 0;
      width: 100%;
      height: auto;
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
    }

    height: 25rem;
    margin: 100px 100px;
    width: 40%;
  }

  &__first-rectangle-container{
    @include mediaScreenMaxWidth(720px){
      height: 7rem;
    }
  }

  &__second-rectangle-container{
    @include mediaScreenMaxWidth(720px){
      position: static;
      height: 7rem;
    }

    position: relative;
    top: -13.75rem;
    left: 8.75rem;
  }

  &__third-rectangle-container{
    @include mediaScreenMaxWidth(720px){
      position: static;
      height: 7rem;
    }

    position: relative;
    top: -27.25rem;
  }

  &__logo{
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: intrinsic;
    height: -moz-max-content;
    height: -webkit-max-content;
    display: flex;
    position: relative;
    padding: .5em;
    width: 16rem;
    height: 2rem;
    top: 6.5rem;
    left: 1rem;
    border: 1px solid #ffffff;
    border-right: none;
  }

  &__line{
    @include mediaScreenMaxWidth(720px) {
      width: 20%;
      margin: auto;
    }

    display: inline-block;
    background-color: #ffffff;
    height: 1px;
    min-width: 4rem;
    vertical-align: middle;
    width: 40%;
  }
}
