@import "mixins.scss";

.interaction-logo{
  @include mediaScreenMaxWidth(720px){
    display: none;
  }

  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: intrinsic;
  height: -moz-max-content;
  height: -webkit-max-content;
  display: flex;
  position: relative;
  padding: .5em;
  width: 16rem;
  height: 2rem;
  top: 6.5rem;
  left: 1rem;
  border: 1px solid #ffffff;
  border-right: none;

  &__text{
    white-space: nowrap;
    display: inline;
    margin: 0;
    color: #ffffff;
    //font-family: Lato;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    vertical-align: super;
  }

  &__line, &__dot{
    margin: auto 0;
  }
}