@import "mixins.scss";

.interaction{
  background-color: #037693;
  background-size: cover;

  &__wrapper{
    @include mediaScreenMaxWidth(720px){
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
    }

    width: 85%;
    margin: 0 auto 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__text-container{
    @include mediaScreenMaxWidth(720px){
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    width: 60%;
  }

  &__title{
    @include mediaScreenMaxWidth(720px){
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
    }

    color: #ffffff;
    width: 60%;
    min-width: 18.8rem;
    //font-family: Lato;
    font-size: 2.988rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__subtitle{
    @include mediaScreenMaxWidth(720px){
      margin: 15px auto 10px;
      font-size: 1rem;
    }

    display: inline-block;
    color: #ffffff;
    //font-family: Lato;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__text{
    @include mediaScreenMaxWidth(720px){
      display: inline;
      margin: 0;
    }

    color: #ffffff;
    //font-family: Lato;
    font-size: .85rem;
    letter-spacing: .25px;
    font-weight: 300;
    line-height: 33.33px;
  }

  &__images{
    @include mediaScreenMaxWidth(720px){
      width: 100%;
      height: fit-content;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
    }

    height: 25rem;
    margin: 100px 100px;
    width: 40%;
  }
}
