@import "mixins.scss";

.rectangle-container {
  &__rounded-rectangle {
    @include mediaScreenMaxWidth(720px) {
      height: 7rem;
      width: 7rem;
    }

    height: 15rem;
    width: 15rem;
  }

  &__rounded-rectangle-text{
    @include mediaScreenMaxWidth(720px){
      top: -4.6rem;
      left: 1.15rem;
      width: 75px;
      font-size: 0.65rem;
    }

    position: relative;
    top: -9rem;
    width: 9rem;
    height: 3rem;
    left: 3.1rem;
    font-size: 1.2rem;
    text-align: center;
  }
}