@import "mixins.scss";

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__outer-circle{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    margin: auto auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner-circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 6rem;
    border: 1px solid #ffffff;
  }

  &__name{
    white-space: nowrap;
    margin: 25px auto;
    font-size: 1.4rem;
    text-align: center;
    //font-family: Lato;
    font-weight: 200;
  }

  &__numbers{
    margin: 10px 0 0;
    font-size: 3.32rem;
    text-align: center;
    //font-family: Lato;
    font-weight: 400;
  }
}