@import "mixins.scss";

.table-item{
  &__icon-container{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__icon{
    max-height: 80px;
    max-width: 80px;
    margin: auto;
  }

  &__text{
    color: #037693;
    //font-family: Lato;
    font-size: 1.68rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
  }
}